/* Estilos principais */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #e3f2fd; /* Azul claro para todo o fundo */
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 400px;
  background: #ffffff; /* Fundo branco para o formulário */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Espaçamento entre campos do formulário */
.mat-form-field {
  width: 100%;
  margin-bottom: 20px; /* Mais espaço entre os campos */
}

/* Botões */
.button-container {
  display: flex;
  justify-content: space-between;
}

/* Estilo para o texto adicional abaixo do formulário */
.additional-text {
  margin-top: 20px;
  font-size: 1rem;
  color: #1976d2; /* Azul principal */
  text-align: center;
}
