<div class="container">
  <div class="card">
    <h2>Cadastro de ONG</h2>
    <form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <mat-form-field appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" placeholder="Digite seu nome" />
        <mat-error *ngIf="validateForm.get('name')?.hasError('required')">
          Nome é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Endereço</mat-label>
        <input matInput formControlName="address" placeholder="Digite seu endereço" />
        <mat-error *ngIf="validateForm.get('address')?.hasError('required')">
          Endereço é obrigatório.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Digite seu email" />
        <mat-error *ngIf="validateForm.get('email')?.hasError('required')">
          Email é obrigatório.
        </mat-error>
        <mat-error *ngIf="validateForm.get('email')?.hasError('email')">
          Email inválido.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="phone" placeholder="Digite seu telefone" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Digite sua senha" />
        <mat-error *ngIf="validateForm.get('password')?.hasError('required')">
          Senha é obrigatória.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Confirme sua Senha</mat-label>
        <input matInput type="password" formControlName="checkPassword" placeholder="Confirme sua senha" />
        <mat-error *ngIf="validateForm.get('checkPassword')?.hasError('required')">
          Confirmação da senha é obrigatória.
        </mat-error>
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary" type="submit">Cadastrar</button>
        <button mat-button type="reset" color="warn">Limpar</button>
      </div>
    </form>
    <!-- Texto adicional abaixo do formulário -->
    <div class="additional-text">
      <p>Já possui uma conta? <a routerLink="/login" style="color: #1976d2;">Faça login aqui</a>.</p>
    </div>
  </div>
</div>
